In [32]:
import numpy as np                                # np arrays important
import pandas as pd                              # used for creating data frames
from sklearn.preprocessing import StandardScaler    #req to standardize data
from sklearn.model_selection import train_test_split   #used to split data
from sklearn import svm
from sklearn.metrics import accuracy_score       # make accuracy score, this compares input labels to output   labels
from sklearn.tree import DecisionTreeClassifier

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/diabetes1.csv")
df.head()   # df is NOW OUR DATA FRAME # outcome is the label

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [ ]:
df.shape # row , col

(2000, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [ ]:
df.describe()  # statistical data about dataFrame

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [ ]:
df["Outcome"].value_counts()    # checking how many patients have diabetes

0    1316
1     684
Name: Outcome, dtype: int64

In [ ]:
df.groupby("Outcome").mean()  # we can observe older people more prone to diabetes, Pregnancies increase the chance of type 4 diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.168693,110.586626,68.094985,20.052432,70.563830,30.567477,0.434676,31.081307
1,4.732456,141.568713,71.166667,22.633041,98.897661,35.320468,0.540681,36.956140

Seperating data and labels

In [ ]:
X = df.drop(columns="Outcome", axis= 1)   # axis =1 sepecifies we are dropping col, IF axis= 0 then we drop a row (mention row before that)

Y = df["Outcome"]

In [ ]:
print(X)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0               2      138             62             35        0  33.6
1               0       84             82             31      125  38.2
2               0      145              0              0        0  44.2
3               0      135             68             42      250  42.3
4               1      139             62             41      480  40.7
...           ...      ...            ...            ...      ...   ...
1995            2       75             64             24       55  29.7
1996            8      179             72             42      130  32.7
1997            6       85             78              0        0  31.2
1998            0      129            110             46      130  67.1
1999            2       81             72             15       76  30.1

      DiabetesPedigreeFunction  Age
0                        0.127   47
1                        0.233   23
2                        0.630   31
3                        0.365   24
4                        0.536   21
...                        ...  ...
1995                     0.370   33
1996                     0.719   36
1997                     0.382   42
1998                     0.319   26
1999                     0.547   25

[2000 rows x 8 columns]

In [ ]:
print(Y)

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

Data Preprocessing

In [ ]:
#Standardize  data

scaler= StandardScaler()

In [ ]:
scaler.fit(X)     # fitting inconsistent data n transfroming data in a common range

StandardScaler()

In [ ]:
standardized_data =  scaler.transform(X)  # we get data in same range

In [ ]:
print(standardized_data)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]]

In [ ]:
X= standardized_data               # data
Y=df["Outcome"]      # model

print(X,Y)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]] 0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify= Y, random_state=2)
#test_size represent the amount of train data  here 20% test data, n rest i.e. train is 80%

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(2000, 8) (1600, 8) (400, 8)

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
classifier.fit(X_train, Y_train)                 #training svm classifier

SVC(kernel='linear')

Evaluation of model

In [ ]:
# accuracy score of training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of training data : ', training_data_accuracy)

Accuracy score of training data :  0.775

In [52]:
# accuracy score on testing data

X_test_prediction = classifier.predict(X_test)

scoreSVM = accuracy_score(X_test_prediction, Y_test)

print(f"The accuracy score of SVM (Support Vector Machine) Classifier is {scoreSVM.mean()*100} %")

The accuracy score of SVM (Support Vector Machine) Classifier is 80.5 %

In [ ]:
input_data = (5,166,72,19,175,25.8,0.587,51)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)    # predicting for one instance


# standardizing input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not a diabetic')
else:
  print('The person is diabetic')

[[ 0.39225636  1.39789884  0.14879962 -0.12019218  0.85239468 -0.78462292
   0.35882587  1.51988257]]
[1]
The person is diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Decision Tree Classifier

In [53]:
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
model.predict(X_test)

predictions = model.predict(X_test)
scoreDT= accuracy_score(predictions,Y_test)

print(f"The accuracy score of Decision Tree Classifier is {scoreDT.mean()*100} %")

The accuracy score of Decision Tree Classifier is 98.5 %

K-Nearest-Neighbours Classifier

In [57]:
from sklearn.neighbors import KNeighborsClassifier


model = KNeighborsClassifier(n_neighbors=5, n_jobs=-1)
model.fit(X_train, Y_train)
model.predict(X_test)

predictions = model.predict(X_test)
scoreKn= accuracy_score(predictions,Y_test)

print(f"The accuracy score of K-Nearest-Neighbours Classifier is {scoreKn.mean()*100} %")

The accuracy score of K-Nearest-Neighbours Classifier is 81.5 %